.TodoList {
    margin: 0;
    background-color: #333333;
    /* background-color: #404040; */
    padding: 2%;
    line-height: 60%;
    color: #fff;
    border-bottom: 5px solid #ff9900;
}

.TodoList-list-con {
    /* text-align: center; */
    display: flex;
    align-items: center;
}

.TodoList-list-con input {
    width: 250px;
    height: 25px;
}

.TodoList-list-con input:focus {
    outline: none;
}

.TodoList-list-con button {
    width: 100px;
    height: 31px;
    transition: all 0.3s linear;
    border: 1px solid #ff9900;
    background-color: #333333;
    color: #ff9900
}

.TodoList-list-con button:hover {
    background-color: #ff9900;
    color: #333333;
    border: none;
}